
.go-resources { //Begin page wrapper

// Clinical Training Header

#clinical-training-header {
	padding: 4em 0em;

	h2 {

		@media (min-width: 767px) {
			font-size: 3em;
			margin-bottom: .33em;
		}
	}

	p {
		@media (min-width: 767px) {
			font-size: 1.25em;
			font-weight: 300;
			margin-top: .5em;
		}
	}

	img {
		max-height: 400px;
		display: none;
		@media (min-width: 767px) {
			display: inline-block;
		}
	}
}


// How it Works

[id^=how-it-works] {

	padding:0;
	background: #eaedee;

	.columns {
		display: block;
	}

	.col-2 {
		text-align: left;
	}

	img {
		padding-top: 1em;
		padding-right: 15%;
		padding-bottom: 6em;
		padding-left: 15%;
	}

	h4 {
		margin-bottom: .5em;
		color: #1e78d7;
	}
}

#how-it-works-1 {
	border-bottom: 0;
	padding-top: 6em;
}


// Patient Experience

#patient-experience {

	padding: 6em 0;

	.container {
		position: relative;
	}

	.experience-col {
		
		text-align: center;
		padding-bottom: 4em;
		float: left;

		img {
			padding: 0 25%;
			margin-bottom: 2em;
		}

		h4 {
			color: #1e78d7;
		}

		@media (min-width: 370px) {
			width: 48%;
			margin-right: 4%;

			&:nth-child(even) {
				margin-right: 0;
			}
		}

		@media (min-width: 767px) {

			text-align: left;
			width: 23%;
			margin-right: 2%;

			&:nth-child(even) {
				margin-right: 2%;
			}

			img {
				padding: 0 30% 0 0;
			}
		}
	}

	a {
		margin-bottom: 4em;
	}
}

} //end page wrapper
