/*************************************************
INDIVIDUAL SECTIONS
*************************************************/


// Hero Section

#go-faqs-hero {

	background: url(img/faqs-hero.jpg);
	padding: 4em 0;

	h1 {
		color: #fff;
		font-size: 3em;
	}
}

// Go Resources Menu Section



// Go Resources Menu

#go-resources-menu {

	background: #eaedee;

	menu {
		padding: 2em 0 2em 0;
		margin: 0;
	}

	ul {
		list-style: none;
		padding: 0 2em 0 0;
		margin: 0;
	}

	li {
		list-style: none;
		display: inline-block;
		padding: 0 2em 0 0;
		margin: 0;
	}
}

// GO Faqs Header Section

#go-faqs-header {
	padding: 4em 0em;

	h2 {

		@media (min-width: 767px) {
			font-size: 3em;
		}
	}

	p {
		@media (min-width: 767px) {
			font-size: 1.5em;
			font-weight: 300;
			margin-top: .5em;
		}
	}
}

#go-faqs-quotes {
	max-height: 200px;
	display: none;
	@media (min-width: 767px) {
		display: inline-block;
	}
}

// GO Faqs Section

#go-faqs {

		padding: 2em 0 6em 0;

		p {
			margin-top: 1em;
		}

		h3 {
			margin-top: 3em;
		}
}


// GO Faqs Questions Section

#questions {
	padding: 6em 0em;
	background: #eaedee;

	h2 {
		margin-bottom: .33em;
	}

	p span {
		margin-right: 1em;
	}

	p span:last-child {
		margin-right: 0;
	}

	i {
		color: #1e78d7;
	}

	@media (min-width: 767px) {
		h2 {
			font-size: 3em;
		}

		p {
			font-size: 1.5em;
		}
	}

}