/*************************************************
BASIC LAYOUT
*************************************************/

section {
	border-bottom: 1px solid #ccc;
}

.columns {
	@media (min-width: 767px) {
		display: flex;
		align-items: center;
	}
}

.col {
	width: 100%;
	display: block;
	float: left;
	vertical-align: middle;
	@media (min-width: 767px) {
		width: 48%;
	}
}

.col-1 {
	@extend .col;
	@media (min-width: 767px) {
		margin-right: 4%;
	}
}

.col-2 {
	@extend .col;
}

.bold {
	font-weight: 500;
}




